.contacts__bottom {
    margin-top: 79px;
    display: flex;


}

.logo__feedbacks {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}

.contacts__paragraph {
    max-width: 141px;
}

.enjoying__touring {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #5B5F62;
    margin-bottom: 40px;
}

.contact__icons {
    display: flex;
    gap: 14px;
}

.contact__icons img {
    filter: grayscale(100%);


    transition: transform 0.2s ease-in-out;
}

.contact__icons img:hover {
    filter: grayscale(0%) brightness(1.5) sepia(1) hue-rotate(-20deg);
    transform: scale(1.2);
}


.logo__information {
    margin-right: 237px;
}

.information__block {
    display: flex;
    max-width: 754px;

}

.category__inf {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 22px;
    margin-right: 114px;
}

.resource__link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;

}

.resource__link:hover {
    transition: 0.2s ease;
    color: #F66F4D;
 
}

.category__inf2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 22px;

}