.email__block {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-color: #FFD482;
    padding-bottom: 75px;
    border-radius: 30px;
    margin-top: 46px;
    margin-bottom: 61px;
    padding-left: 15px;
    padding-right: 15px;
}

.email__block svg {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    width: auto;
    
  

    z-index: -1;
}
.main__titles {
    text-align: center;
}

.email__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    padding-top: 75px;

}

.title__bottom {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    align-items: center;
    margin-bottom: 40px;

}

.email__address__block {
    display: flex;
    max-width: 450px;
    height: 60px;
    background-color: white;
    margin: 0 auto;

    border-radius: 12px;
    color: #5B5F62;
    justify-content: space-between;

   
    
   
}



.email__address {
    
    margin: 0;
    margin-bottom: 23px;
    margin-top: 23px;
    margin-left: 26px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #5B5F62;
  
    
}

.block__icon:hover {
    transition: 0.3s ease;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}


.block__icon {
    transition: transform 0.3s ease-in-out;
    background-color: #F66F4D;
    padding: 12px;
    border-radius: 12px;
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 12px;
   

}



.tg_bottom{
    width: 100%;
    height: 100%;

}

