.categories__inner {
    display: flex;
    margin-bottom: 60px;
    align-items: flex-start;
}

.categories__title {
    font-size: 56px;
    font-weight: 600;
    padding-bottom: 24px;

}

.categories__description {
    font-size: 16px;
    font-weight: 600;
    color: #5B5F62;
    line-height: 26px;
    max-width: 370px;
}

.img__categories {
    display: flex;
    margin-left: auto;
    padding-top: 19px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;


}




.img__categories button img{
    transition: transform 0.2s ease-in-out;
}

.img__categories button:hover img {
    transition: 0.2s ease;
    transform: scale(1.15);
}

.categories__list {
   
    
    align-items: center; 
    text-align: center;

    margin-bottom: 58px;
    padding-bottom: 32px;
}

.item__description {
    font-size: 26px;
    font-weight: 500;
    padding-top: 18px;
    padding-bottom: 20px;


}

.categories__item {
    transition: transform 0.2s ease-in-out;
}

.categories__item:hover .categories__item__img {
    filter: brightness(50%);
}

.categories__item:hover{
    transition: 0.2s ease;
    
}

.visit__btn{
    display: none;
    position: absolute;
    color:white;
    font-size: 20px;
    top: 104px;
    left: 57px;
    right: 57px;
}

.categories__item:hover .visit__btn {
    display: block;
    color: white;
}


